## Data Structure in Python

##### Topic:List

In [ ]:
import numpy as np
rand_num=np.random.randint(1,100,5)
print('The list of 5 random numbers between 1 and 100:',rand_num)

The list of 5 random numbers between 1 and 100: [75 51 43 66 76]

In [ ]:
new_list=np.array([20, 8, 15])
updated_list=np.append(rand_num, new_list)
print('The updated list is: ',updated_list)

The updated list is:  [75 51 43 66 76 20  8 15]

In [ ]:
for i in updated_list:
  print(i)

75
51
43
66
76
20
8
15

##### Topic:Dictionary

In [ ]:
person_dict={'Name': 'John','Age': '25','Address': 'Newyork'}
print('The dictionary created is: ', person_dict)

person_dict['Phone']='1234567890'
print('The updated dictionary is: ', person_dict)

The dictionary created is:  {'Name': 'John', 'Age': '25', 'Address': 'Newyork'}
The updated dictionary is:  {'Name': 'John', 'Age': '25', 'Address': 'Newyork', 'Phone': '1234567890'}

##### Topic: Set

In [ ]:
new_set={1,2,3,4,5}
print('The created set is: ', new_set)
new_set.add(6)
print('The updated set is: ', new_set)
new_set.remove(3)
print('The set after removing 3 is: ', new_set)

The created set is:  {1, 2, 3, 4, 5}
The updated set is:  {1, 2, 3, 4, 5, 6}
The set after removing 3 is:  {1, 2, 4, 5, 6}

##### Topic: Tuple

In [ ]:
new_tuple=(1,2,3,4)
print('The tuple just created is: ',new_tuple)
print('The length of the created tuple is: ',len(new_tuple))

The tuple just created is:  (1, 2, 3, 4)
The length of the created tuple is:  4