##### Exercise 1

In [ ]:
cal_month=int(input('Enter a number between 1 and 12:'))
month=['January','February','March','April','May','June','July','August','September','October','November','December']
if cal_month <1 or cal_month >12:
  print('Warning: Please enter a number between 1 and 12.')
else:
  print('The month you entered is ', month[cal_month-1])

Enter a number between 1 and 12:4
The month you entered is  April

##### Exercise 2

In [ ]:
normal_price=6
Age=int(input('Please enter your age: '))
if Age<16:
  ticket_price=normal_price/2
  print(f'Your ticket costs \u00a3{ticket_price:0.2f} ')
elif Age>60:
  ticket_price=normal_price/3
  print(f'Your ticket costs \u00a3{ticket_price:0.2f} ')
else:
  ticket_price=normal_price
  print(f'Your ticket costs \u00a3{ticket_price:0.2f} ')

Please enter your age: 65
Your ticket costs Â£2.00

##### Exercise 3

In [ ]:
your_weight=float(input('Please enter your weight (kg): '))
your_height=float(input('Please enter your height (m): '))
BMI=your_weight/your_height/your_height
if BMI<18.5:
  print(f'Your BMI is {BMI:0.2f}. You are underweight.')
elif BMI >18.5 and BMI<24.9:
  print(f'Your BMI is {BMI:0.2f}. Your BMI falls in the normal regime :).')
elif BMI >24.9 and BMI<29.9:
  print(f'Your BMI is {BMI:0.2f}. You are overweight.')
elif BMI >29.9:
  print(f'Your BMI is {BMI:0.2f}. You are obese.')

Please enter your weight (kg): 50
Please enter your height (m): 1.50
Your BMI is 22.22. Your BMI falls in the normal regime :).

##### Exercise 4

In [ ]:
num_1=float(input('Enter the first number: '))
num_2=float(input('Enter the second number: '))
num_3=float(input('Enter the third number: '))
if num_1> num_2 and num_1>num_3:
  print(f'The number {num_1:0.2f} is the greatest.')
elif num_2> num_1 and num_2>num_3:
  print(f'The number {num_2:0.2f} is the greatest.')
elif num_3> num_1 and num_3>num_2:
  print(f'The number {num_3:0.2f} is the greatest.')

Enter the first number: -1.05
Enter the second number: 50.75
Enter the third number: 29.98
The number 50.75 is the greatest.

##### Exercise 5

In [ ]:
while True:
  try:
    num1=int(input('Enter any positive integer: '))
    break
  except ValueError:
    print('Floats are not allowed. Please enter any positive integer.')
init_num=num1
for i in range(2,num1+1):
  num1=num1*(i-1)
print(f'The factorial of {init_num} is',num1)

Enter any positive integer: 5.5
Floats are not allowed. Please enter any positive integer.
Enter any positive integer: 5
The factorial of 5 is 120

##### Exercise 6

In [ ]:
num2=int(input('Enter any positive integer: '))
rev_num=0
remainder=0
while num2!=0:
  remainder=num2%10
  print('Remainder=',remainder)
  rev_num=remainder+rev_num*10
  print('rev_num=',rev_num)
  num2=num2//10
  print('num2=',num2)
  print('------------------------')
print('The reversed number is: ',rev_num)

Enter any positive integer: 2465
Remainder= 5
rev_num= 5
num2= 246
------------------------
Remainder= 6
rev_num= 56
num2= 24
------------------------
Remainder= 4
rev_num= 564
num2= 2
------------------------
Remainder= 2
rev_num= 5642
num2= 0
------------------------
The reversed number is:  5642

##### Exercise 7

In [ ]:
num3=int(input('Enter any positive integer:'))
no_of_multiples=int(input('Enter how many multiples do you need:'))
print(f'The first {no_of_multiples} multiples of the number {num3} are:')
for i in range(1,no_of_multiples+1):
  multiple=num3*i
  print(multiple)

Enter any positive integer:7
Enter how many multiples do you need:18
The first 18 multiples of the number 7 are:
7
14
21
28
35
42
49
56
63
70
77
84
91
98
105
112
119
126

##### Exercise 8

In [ ]:
while True:
    my_input = input("Enter any text: ")
    if my_input.lower() == 'done':
        break
    print(my_input)

Enter any text: hello
hello
Enter any text: This is Kiran
This is Kiran
Enter any text: Done

##### Exercise 9

In [ ]:
for i in range(1,16):
  if i%3==0 and i%5==0:
    print('FizzBuzz')
  elif i%5==0:
    print('Buzz')
  elif i%3==0 :
    print('Fizz')
  else:
    print(i)

1
2
Fizz
4
Buzz
Fizz
7
8
Fizz
Buzz
11
Fizz
13
14
FizzBuzz

##### Exercise 10

In [ ]:
Nrows = 5
for i in range(Nrows,0,-1):
    for j in range(i, 0, -1):
        print(j,end=' ')
    print()

5 4 3 2 1
4 3 2 1
3 2 1
2 1
1