## Python Fundamentals Assignment

##### Exercise 1

In [ ]:
my_name='Kiran Raj K'
my_stud_num='ABC001'
my_email='kiran.access@gmail.com'
print('My name is: ',my_name)
print('My student number is: ',my_stud_num)
print('My Email address is: ',my_email)

My name is:  Kiran Raj K
My student number is:  ABC001
My Email address is:  kiran.access@gmail.com

#####  Exercise 2

In [ ]:
print("My name: %s\nMy student number: %s\nMy Email address: %s" % (my_name,my_stud_num, my_email))

My name: Kiran Raj K
My student number: ABC001
My Email address: kiran.access@gmail.com

##### Exercise 3

In [ ]:
num_1=14
num_2=7
Num_add=num_1+num_2
Num_sub=num_1-num_2
Num_product=num_1*num_2
Num_divide=num_1/num_2
print('Addition:',Num_add)
print('Subtraction:',Num_sub)
print('Multiplication:',Num_product)
print('Division:',Num_divide)

Addition: 21
Subtraction: 7
Multiplication: 98
Division: 2.0

##### Exercise 4

In [ ]:
for i in range(1,6):
  print(i)

1
2
3
4
5

##### Exercise 5

In [ ]:
print('"SDK stands for "Software Development Kit", whereas \n"IDE" stands for "Integrated Development Environment".')

"SDK stands for "Software Development Kit", whereas
"IDE" stands for "Integrated Development Environment".

##### Exercise 6

In [ ]:
print("python is an \"awesome\" language.")
print("python\n\t2023")
print('I\'m from Entri.\b')
print("\65")
print("\x65")
print("Entri", "2023", sep="\n")
print("Entri", "2023", sep="\b")
print("Entri", "2023", sep="*", end="\b\b\b\b")

python is an "awesome" language.
python
	2023
I'm from Entri.
5
e
Entri
2023
Entri2023
Entri*2023

##### Exercise 7

In [ ]:
num=23
textnum="57"
decimal=98.3
print('The datatype of the variable num is:',type(num))
print('The datatype of the variable textnum is:',type(textnum))
print('The datatype of the variable decimal is:',type(decimal))
sum=num+int(textnum)+decimal
print('The sum of the variables is: ',sum)
print('The datatype of the variable sum is:',type(sum))
print('Note: Unless we change the datatype of the variable textnum to int, it throws an error.')

The datatype of the variable num is: <class 'int'>
The datatype of the variable textnum is: <class 'str'>
The datatype of the variable decimal is: <class 'float'>
The sum of the variables is:  178.3
The datatype of the variable sum is: <class 'float'>
Note: Unless we change the datatype of the variable textnum to int, it throws an error.

##### Exercise 8

In [ ]:
num_of_days_nonleap=365
num_of_days_leap=366
num_of_hours_in_day=24
num_of_min_in_hour=60
num_of_min_in_day=num_of_hours_in_day*num_of_min_in_hour
num_min_nonleap=num_of_days_nonleap*num_of_min_in_day
num_min_leap=num_of_days_leap*num_of_min_in_day
print('The number of miniutes in a non-leap year is:',num_min_nonleap)
print('The number of miniutes in a leap year is:',num_min_leap)

The number of miniutes in a non-leap year is: 525600
The number of miniutes in a leap year is: 527040

##### Exercise 9

In [ ]:
myname=str(input('Please enter your name:\n',))
print('Hi %s, welcome to Python programming!'%myname)

Please enter your name:
Lakshya Kiran
Hi Lakshya Kiran, welcome to Python programming!

##### Exercise 10

In [ ]:
#Name of the file: PoundsToDollars.py
pound=float(input('Please enter the amount in pounds: '))
exchangerate=1.21 #As on 13/01/2025 18:40 KST
dollars=pound*exchangerate
#print('%f \x9c is %f $'%pound %dollars)
print(f"{pound:0.2f} \u00a3 is {dollars:0.2f} $")

Please enter the amount in pounds: 100
100.00 £ is 121.00 $